/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
	margin:0;padding:0
}
body,html{
	height:100%;
	font:14px "微软雅黑",Arial;
	color:#666666;	/*调整*/
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;	
}
i,em{
	font-style:normal;	
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	color:#333;	
}
a:hover{
	color:red;/*调整*/	
}
input{
	outline:none;	
}
.clearfix{
	*zoom:1;
	/* 兼容IE低版本高度塌陷问题 */	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	line-height:0;
	clear:both;
	overflow:hidden;	
}
img{
	border:0;	
}